<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Account created</h1>
    <form action="{{ url_for('expense.index') }}">
        <input type="submit" value="expenses">
    </form>
    <br>
    <br>
    <form action="{{ url_for('Saving.index') }}" method="get">
        <input type="submit" value="Savings">
    </form>

    <form action="{{ url_for('data_visualization.index') }}">
        <input type="submit" value="Visualization">
    </form>

    <form action="{{url_for('budget.home')}}">
        <input type="submit" value="Budget">
    </form>    
</body>
</html>
